<html>
    <head>
        <title>Django Unchained</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Boys Blog</a></h1>
        </div>

        <div>
            <p>опубликовано 28.12.2021, 21:00</p>
            <h2><a href="">Первая публикация</a></h2>
            <p>Эксцентричный охотник за головами, также известный как «Дантист», промышляет отстрелом самых опасных преступников на Диком Западе. Работенка пыльная, и без надежного помощника ему не обойтись. Но как найти такого и желательно не очень дорогого? Беглый раб по имени Джанго — прекрасная кандидатура. Правда, у нового помощника свои мотивы — кое с чем надо разобраться…</p>
        </div>

        <div>
            <p>опубликовано 28.12.2021, 21:10</p>
            <h2><a href="">Вторая публикация</a></h2>
            <p>Метко шутя и стреляя, охотники за головами уничтожают негодяев. Квентин Тарантино пробует силы в вестерне</p>
        </div>
    </body>
</html>
